.title-img {
    width: 45px;
}

@media (max-width: 768px) {
    .title-img {
        width: 40px;
    }
}

@media (max-width: 576px) {
    .title-img {
        width: 35px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 25px;
    }
}